@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

:root {
    --bg: #fff;
    --bgp: #20BC7E;
    --bgs:#F0F4F5;
    --tcp: #000000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;

}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bgs);
    color: var(--tcp);
}

li {
    list-style: none;
    font-size: 1.4rem;
}


button {
    background-color: var(--bgp);
    outline: none;
    border: none;
    font-family: inherit;
    color: var(--bg);
}

/* HEADER  */

header{
    padding: 2rem 8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width: 160px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.nav li{
    font-size: 1.4rem;
    transition: color .3s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.nav li:first-child,.nav li:hover{
    color: var(--bgp);
}

/* HERO  */

.hero{
    position: relative;
    padding-inline: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100vh - 96px);
}

.hero img[alt="mouse"]{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    translate: -50% 0rem;
    cursor: pointer;
}

.left-section{
    width: 45%;
}

.left-section > div {
    position: relative;
    padding: 1rem 2rem;
}

.left-section > div > h1{
    font-size: 5.4rem;
    line-height: 1.4;
}

.left-section > div > p{
    font-size: 1.4rem;
    color: #7C7C7C;
    margin-top: 2rem;
}

.btn{
    padding: 10px 24px;
    font-size: 1.8rem;
    border-radius: 10rem;
    margin:2rem;
}

.left-section > div::after{
    content: url('./images/bottomAngle.png');
    position: absolute;
    bottom: 0;
    right: 0;
}

.left-section > div::before{
    content: url('./images/topAngle.png');
    position: absolute;
    top: 0;
    left: 0;
}

.right-section{
    align-self: flex-end;
    position: relative;
    width: 45%;
}

.right-section img{
    max-width:405px;
    position: absolute;
    bottom: 0;
}

.right-section img[alt="doctor"]{
    right: 5%;
}

.right-section img[alt="green"]{
    right: 10%;
    bottom: 4rem;
}
.right-section img[alt="yellow"]{
    right:1%;
    bottom:1rem ;
}

@media (max-width:1064px) {
    header{
        padding-inline: 2rem;
    }
    .hero{
        padding-inline: 2rem;
    }

    .left-section > div > h1{
        font-size: 4rem;
    }

    .right-section img{
        max-width: 350px;
    }
}

@media (max-width:900px) {
    .hero{
        flex-direction: column;
        padding-inline: 2rem;
        margin-top: 2rem;
    }

    .left-section{
        text-align: center;
        width: 100%;
    }

    .right-section{
        margin-top: 8rem;
        width: 100%;
        height: 60vh;
        z-index: -1;
    }


}

@media (max-width:610px) {
    .nav{
        display: none;
    }
}