/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

/* Pushpak Khadke  */

:root {
  --bg-white: #fff;
  --bg-primary: #5955b3;
  --bg-secondary: #3c2f60;
  --text-gray: #acacac;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
}

p,
a {
  text-decoration: none;
  font-size: 1.6rem;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}

button:hover {
  opacity: 80%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

/* Util classes  */

.nav-button {
  background-color: var(--bg-primary);
  border-radius: 12px;
  color: var(--bg-white);
  padding: 18px 32px;
}

/* Container  */

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 3rem 8rem 0;
}

/* Navbar  */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

img[alt="brand-logo"] {
  width: 120px;
}

.grow-list {
  flex-basis: 70%;
}

.grow-list .list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.grow-list .list li {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--text-gray);
  transition: color 0.3s ease-in-out;
}

.grow-list .list li:hover {
  color: #000;
}

.grow-list .list li:first-child {
  color: #000;
}

/* Banner  */

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.heading-text {
  font-size: 4vw;
  color: var(--bg-secondary);
}

.heading-text span {
  color: var(--bg-primary);
}

.description {
  margin-top: 2rem;
  display: inline-block;
  max-width: 380px;
  color: var(--text-gray);
}

.btn {
  display: inline-block;
  margin-top: 4rem;
  width: max-content;
}

.banner-container div:first-child {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.banner-container div:last-child {
  width: 55%;
}

/* Responsive */

@media (max-width: 1000px) {
  .container {
    padding-inline: 4rem;
  }

  .navbar-container .grow-list {
    display: none;
  }

  .banner-container {
    margin-top: 4rem;
    flex-direction: column;
    text-align: center;
    row-gap: 4rem;
  }

  .banner-container .btn {
    margin-inline: auto;
  }

  .heading-text {
    font-size: 4rem;
    padding-inline: 2rem;
  }

  .description {
    margin-inline: auto;
  }

  .banner-container div:first-child {
    width: 100%;
  }

  .banner-container div:last-child {
    width: 100%;
  }
}

@media (max-width: 610px) {
  .container {
    padding-inline: 2rem;
  }
}
